<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon57h</string>
		<string>Icon120h</string>
		<string>Icon114h</string>
		<string>Icon80h</string>
		<string>Icon58h</string>
		<string>Icon29h</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Dyed Sudoku</string>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>CFBundleIdentifier</key>
	<string>DyedSudoku</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9</string>
	<key>CFBundleVersion</key>
	<string>2</string>
</dict>
</plist>
